@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900');
.App {
  text-align: center;
  background-color: orangered;
  font-family: 'Titillium Web', sans-serif;
}

.header {
  margin-top: 0;
  letter-spacing: .5em;
  font-weight: 700;
  height: 4em;
}
