.pokecards-container {
  padding-top: 1em;
}
.cards {
  position: relative;
  top: 2em;
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 1em auto;
  width: 25%;
  height: 40em;
  overflow-y: scroll;
  padding-bottom: 10px;
}
.card {
  box-shadow: 6px 6px 4px #888888;
  border-style: solid;
  border-width: 1px;
  margin-top: .5em;
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: .5em;
  transition: all .5s;
}

.card:hover {
  transform: scale(1.04);
}
.moar-pokemon {
  margin-top: 50px;
  margin-right: 1em;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  box-shadow: 0 20px crimson;
  text-transform: uppercase;
  border: none;
  bottom: 0;
  width: 97%;
  height: 3em;
  margin: 0 auto;
  background-color: orangered;
}
