.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  flex: 0 1 calc(25% - 1em);
  border-style: solid;
  border-width: 1px;
}

.moar-pokemon {
  margin: 0 auto;
}
